VITE_APP_TITLE="@workspace/spa - Development"
VITE_APP_URL="https://spa.fe-monorepo.localhost"
VITE_API_BASE_URL="https://spa.fe-monorepo.localhost/api"
VITE_OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
VITE_OTEL_LOG_LEVEL="INFO"