NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_APP_TITLE="@workspace/web - Development"
NEXT_PUBLIC_APP_URL="https://web.fe-monorepo.localhost"
NEXT_PUBLIC_API_BASE_URL="https://web.fe-monorepo.localhost/api"
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
NEXT_PUBLIC_OTEL_LOG_LEVEL="INFO"

DATABASE_URL="postgres://pg:pg@localhost:5442/pg"
BETTER_AUTH_SECRET="2Ti..."