NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_APP_TITLE="@workspace/web"
NEXT_PUBLIC_APP_URL="https://my-app.com"
NEXT_PUBLIC_API_BASE_URL="https://api.my-app.com/api"
NEXT_PUBLIC_OTEL_EXPORTER_OTLP_ENDPOINT="https://otel.my-app.com"
NEXT_PUBLIC_OTEL_LOG_LEVEL="INFO"

DATABASE_URL="postgres://pg:pg@localhost:5442/pg"
BETTER_AUTH_SECRET="THZ..."